*.py[co]

# OS
.directory


# Archives
*.gz
*.zip

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
test_data
master.tar.gz


# Translations
*.mo

# PyCharm
.idea

# Eclipse
.project
.pydevproject
.settings
__pycache__
